.project-card {
  position: relative;
  overflow: hidden;
}

.project-card span {
  transition: 0.5s;
  opacity: 0;
}
.project-card:hover span {
  opacity: 1;
}

/* Top Border */
.project-card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-card-animation-border)
  );
  animation: animation1 2.5s linear infinite;
}
@keyframes animation1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* Right Border */
.project-card span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--color-card-animation-border)
  );
  animation: animation2 2.5s linear infinite;
  animation-delay: 1.2s;
}
@keyframes animation2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
/* Bottom Border */
.project-card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to left,
    transparent,
    var(--color-card-animation-border)
  );
  animation: animation3 2.5s linear infinite;
}
@keyframes animation3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Left Border */
.project-card span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(
    to top,
    transparent,
    var(--color-card-animation-border)
  );
  animation: animation4 2.5s linear infinite;
  animation-delay: 1.2s;
}
@keyframes animation4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
